{% extends "index.html" %}
{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/reporting"  >Reporting and Violence</a></li>
            <li><a href="/faqs">FAQ's and Tutorials</a></li>
            <li><a href="/gadgets" class="active">Gadgets and Resources</a></li>
            <li><a href="">Pheonix</a></li>
        </ul>
    </nav>
</header>
<div class="hero">
    <h1>Featured Gadgets</h1>
    <p>Safety gadgets are an essential part of our daily lives, providing us with a sense of security and peace of mind. In situations of grave danger, it's easy to panic, but with the right mindset and tools, you can stay calm and protect yourself.</p>
    <p>So, how do you stay calm in a life-threatening situation? Here are a few tips:</p>
    <ul>
        <li>Stay focused on your surroundings and the situation at hand.</li>
        <li>Take slow, deep breaths to calm your nerves.</li>
        <li>Remember that you have the power to protect yourself.</li>
    </ul>
</div>

<div class="grid-container">
    <h2>Pepper Sprays</h2>
    <div class="grid">
        <div class="grid-item">
            <img src="/static/images/pepper_spray_1.jpg" class="gadget_image" alt="Pepper Spray">
            <h3>Pepper Spray</h3>
            <ul>
                <li>Aim and Spray: Aim the spray at the attacker's face or eyes and press the trigger to release the pepper spray</li>
                <li>Create Distance: Use the temporary blindness and irritation caused by the spray to create distance between you and the attacke</li>
                <li>Escape to Safety: Quickly escape the scene and find help, or try to run away from the attacker</li>
            </ul>

            <a href="https://www.amazon.in/Newish-NW-5070-P-Powerful-Pepper-Defence/dp/B07G5WRD52/ref=sr_1_2?crid=1UNA2T5XRJ0OH&dib=eyJ2IjoiMSJ9.GPWci1O15QpLxWsly0042RrJU" target="_blank">Buy on Amazon</a>
        </div>
        <div class="grid-item">
            <img src="static/images/pepper_spray_2.jpg" class="gadget_image"="Pepper Spray 2">
            <h3>Pepper Spray</h3>
            <ul>
                <li>Aim for the Face: Hold the canister with the nozzle pointing towards the attacker's face, and aim for the eyes and nose.</li>
                <li>Spray in Short Bursts: Press the actuator to release a short burst of pepper spray, about 1-2 seconds long. This will help to incapacitate the attacker without wasting the spray.</li>
                <li>Back Away and Escape: Immediately back away from the attacker and escape to a safe location. The pepper spray will cause temporary blindness and discomfort, giving you time to get away.</li>
            </ul>
            <a href="https://www.amazon.in/Knockout-Pepper-Spray-Self-Defence/dp/B00YMY3PX4/ref=sr_1_3?crid=1UNA2T5XRJ0OH&dib=eyJ2IjoiMSJ9.GPWci1O15QpLxWsly0042RrJUbAmaGJyZAvq-n4duLTwXchZbfWtlGBXuANZ384V-8q56mceecO2gEWV_m8LeI6MBPhfcsDll_3vLDGtv97wu52-8rVH6U7WmsOuNIfr7eu1z9_pfGcXU0qA4SKjgM6LF7ItG8ZWmaxaA8cpNX_22GNJxzDgeyZK0Fkw02mF-NHWbkx0xc5J0JHrbBmBLSuSe-F38Mr96fWLLj_QxkG43Oylgqh7mRusitAFzGSIEdDI8VPcAY073Pq_t4LIoW7_mEg5w4x5YmLtXHNeM2bVVjc0ToPztRfAp_8MUx1BqB7C15J4zYkOclv_z7EO2DCgY-3n1wdsz22hglf73QGfqnmmC1k-Yss9yWJUDdCJODcKwSbGyNsCDgOJaDDa75ztnfp6t6R_N7vK3cLZ8ogq87Ti6KZPUKjPAtnNLEFh.VgRlzFXsbYns-areaPQyExctpTwPXvklIKlZtM8sOZ4&dib_tag=se&keywords=pepper%2Bspray&qid=1737809379&sprefix=pepper%2Bspar%2Caps%2C286&sr=8-3&th=1" target="_blank">Buy on Amazon</a>
        </div>
    </div>

    <h2>Stun Guns</h2>
    <div class="grid">
        <div class="grid-item">
            <img src="/static/images/stun_gun_3.jpg" class="gadget_image" alt="Stun Gun">
            <h3>Stun Gun</h3>
            <ul>
                <li>Charge and Arm: Charge the stun gun for at least 2 hours before use. To arm the device, press the safety switch to the "on" position.</li>
                <li>Aim and Fire: Hold the stun gun firmly and aim the electrodes at the attacker's body. Press the trigger to discharge the stun gun, which will deliver a high-voltage shock to the attacker.</li>
                <li>Escape to Safety: Immediately back away from the attacker and escape to a safe location. The stun gun's shock will cause temporary incapacitation, giving you time to get away and seek help.</li>
            </ul>

            <a href="https://safetygadgets.in/products/e-wave-v-2-0-stun-gun">

            </a>

 target="_blank">Buy on safety gadgets</a>
        </div>
        <div class="grid-item">
            <img src="static/images/stun_gun_2.jpeg" class="gadget_image" alt="Stun Gun 2">
            <h3>Lipstick stun gun</h3>
            <ul>
                <li>Arm the Device: Twist the bottom of the lipstick to arm the stun gun. The LED light will flash to indicate that it's ready to use.</li>
                <li>Aim and Fire: Hold the lipstick firmly and aim the electrodes at the attacker's body. Press the button to discharge the stun gun, which will deliver a high-voltage shock to the attacker.</li>
                <li>Illuminate and Escape: Use the built-in flashlight to illuminate your surroundings and escape to a safe location. The stun gun's shock will cause temporary incapacitation, giving you time to get away and seek help.</li>
            </ul>

            <a href="https://safetygadgets.in/products/bling-lipstick-stun-gun-cum-flashlight" target="_blank">Buy on safety gadgets</a>
        </div>
    </div>

    <h2>Alarms</h2>
    <div class="grid">
        <div class="grid-item">
            <img src="/static/images/alarm_1.jpg" class="gadget_image" alt="Stun Gun">
            <h3>Alarm in keychain</h3>
            <ul>
                <li>Charge and Arm: Charge the stun gun for at least 2 hours before use. To arm the device, press the safety switch to the "on" position.</li>
                <li>Aim and Fire: Hold the stun gun firmly and aim the electrodes at the attacker's body. Press the trigger to discharge the stun gun, which will deliver a high-voltage shock to the attacker.</li>
                <li>Escape to Safety: Immediately back away from the attacker and escape to a safe location. The stun gun's shock will cause temporary incapacitation, giving you time to get away and seek help.</li>
            </ul>

            <a href="https://www.amazon.in/Devil-Will-Emergency-Keychain-Protection/dp/B0BPPZFZJD/ref=sr_1_2?crid=1OF4ZWN77K2IR&dib=eyJ2IjoiMSJ9.93z-GxaxnDeMGrFIuP8dGt2ZBQAre61Y2c_u4bVkMTFlXfvIMVDtB-YEAvAtsdzivHFrCWFqta7KsUvXmSja5URMH3N6XLu5_JuY4VFr1ayBwSmPwoLnpzjVZEaX8hfkZtl5VGJ5XUlJs1xQQH7azC5ppphAuQteKFQdWiMvWW94RggbrRHftHl4EJYd2TjeqkT3KqE2wZ1iweUdWbMrjXqcH74qb01dKg-8tFSLpRvMyMUk3KmeYmwg3lX_zoWALXcw7WKziHglGQSsejHh62t_p31WwWiWojOxqreFhiZM2QHu9j6EzT5nRdSlzrAxiaRjywrvB7T3ciAburv0KhcEZ4VLOTf806QyY-z0UQXVkkkq-suY_33Mg8YRKAaON-i9x31TpMg9VI87hMzqXRkxGnL2tW1UlNA9KnYEDkXpUgTNf3CPbtKg067MjcgA.q9iKND5YmjqYPWsUK5ejmc4S30Dh7Afx3lb7SEa3DjQ&dib_tag=se&keywords=safety%2Bdevices%2Bfor%2Bwomen%2Bdefence%2Bpocket%2Bknife&qid=1737811841&sprefix=safety%2Bdevices%2Bfor%2Bwomen%2Bdefence%2Bpocket%2Bkni%2Caps%2C315&sr=8-2&th=1" target="_blank">Buy on amazon</a>
        </div>
    
   
        <div class="grid-item">
            <img src="/static/images/alarm_2.jpg" class="gadget_image" alt="Stun Gun">
            <h3>Alarm in keychain</h3>
            <ul>
                <li>Activate the Alarm: Press the button on the keychain to activate the loud alarm, which will emit a high-pitched sound to deter an attacker</li>
                <li>Use the LED Light: Use the built-in LED light to illuminate your surroundings, making it easier to see and escape from a potential threat.</li>
                <li>Attach and Carry: Attach the keychain to your bag or keys and carry it with you, providing a convenient and portable self-defence solution.</li>
            </ul>

            <a href="https://www.flipkart.com/hasthip-safety-gadgets-self-defence-personal-alarm-keychain-led-lights-key-chain/p/itm0020d9410e9aa?pid=KECGZYFR7S8KVTFS&lid=LSTKECGZYFR7S8KVTFSA2HU1I&marketplace=FLIPKART&cmpid=content_key-chain_8965229628_gmc&gQT=1" target="_blank">Buy on flipkart</a>
        
    </div>
</div>

{%endblock%}