<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women's Safety and Empowerment</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/gadgets.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/reporting.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/faqs.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/community.css')}}">
    
</head>
<body>
    {% block content %}
    <header>
        <h1 class="website-name">
            LUMINARY
        </h1>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/reporting">Reporting and Violence</a></li>
                <li><a href="/faqs">FAQ's and Tutorials</a></li>
                <li><a href="/gadgets">Gadgets and Resources</a></li>
                <li><a href="/pheonix">Pheonix</a></li>
            </ul>
        </nav>
    </header>
    
    <div>

        <main>
            <section class="featured-posts" id="posts-container">
                <h2>Featured Posts</h2>
                <!-- Posts will be dynamically inserted here -->
            </section>
            <div id="loader" class="hidden">Loading...</div>
            <div id="image-container"></div>
            <div id="loader"></div>
        </main>

    </div>
    {% endblock %}
    <footer>
        <p>&copy; 2025 Women's Safety and Empowerment</p>
    </footer>
    <script src="/static/js/script.js"></script>
</body>
</html>