{% extends "index.html" %}
{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/reporting" class="active" >Reporting and Violence</a></li>
            <li><a href="/faqs">FAQ's and Tutorials</a></li>
            <li><a href="/gadgets" >Gadgets and Resources</a></li>
            <li><a href="">Pheonix</a></li>
        </ul>
    </nav>
</header>
<div class="blockquote">
    <p class="reporting_text1">**Breaking the Silence: Reporting Violence with Confidence**</p>
    <p class="reporting_text1">If you or someone you know has been a victim of violence, it's essential to remember that you are not alone, and you don't have to suffer in silence. It's natural to feel scared, ashamed, or unsure about reporting the incident, but it's crucial to overcome these feelings and take the first step towards seeking help and justice.</p>
    <p class="reporting_text1">Reporting violence is a brave and necessary step towards healing and creating a safer community. By speaking out, you can help prevent further harm and ensure that perpetrators are held accountable for their actions. Don't let fear or shame hold you back from seeking the help and support you deserve.</p>
    <img src="/static/images/complaint_data.png" class="reporting_image" alt="complaint_data">
</div>

<div class="reporting_content">
    <div>
        <h2 class="reporting_text2">Report Violence to the Authorities:</h2>
    </div>
    
    <div class="reporting_box">
        <h class="reporting_phone_numbers">
            7827-170-170
        
        </h>
    </div>
    <div class="reporting_box">
        <h class="reporting_phone_numbers">
            112
        </h>
    </div>

    <div class="reporting_links">
        <div>
            <a href="https://www.cybercrime.gov.in/" target="_blank">Indian Government Website</a>
        </div>
        <div>
            <a href="https://ncwapps.nic.in/onlinecomplaintsv2/frmPubRegistration.aspx">
                National Commission for Women
            </a>
        </div>


    </div>

</div>
{% endblock %}